.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   height: 125px;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}

.column {
    float: left;
}

.left {
  width: 25%;
  padding-bottom: 10px;
}

.middle {
  width: 37%;
}

.right {
  width: 38%;
  padding-bottom: 10px;
}
