
img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:400px;
    padding:1px;
   border:8px solid blue;
}
div1{
text-align: center;
display: inline-block;
background-color: gray;
border: 2px solid blue;
width: 100%;
}
h2{
color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682B4;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
