<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682B4;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>
<ul> 
 <li> <a href="profile.html"> HOME</a>  
<a href="profile.html"> PROFILE</a> 
<a href="gallery.html">GALLERY  </a> 


  </li>
</ul>
